<template>
  <div class="text-xs-center jchart-container" :style="{maxHeight: chartMaxHeight, maxWidth: chartMaxWidth}">
    <v-progress-linear
      v-if="!chartDataStatus"
      :indeterminate="true" 
      background-color="teal darken-3"
      color="teal lighten-4"
    />
    <svg
      :id="chartConfig.id"
      :viewBox="`0 0 ${chartConfig.width} ${chartConfig.height}`"
      preserveAspectRatio="xMidYMid meet"
    >
      <g
        v-show="chartDataStatus" 
        :style="{transform: `translate(${chartConfig.margins.left}px, ${chartConfig.margins.top}px)`}" 
        class="chart-canvas"
      >
        <rect 
          fill="#E0E0E0" 
          :width="`${graphSize.width+10}px`" 
          :height="`${graphSize.height+10}px`" 
          :style="{transform: `translate(${-5}px, ${-5}px)`}"
        />
        <rect 
          id="listener-rect"
          :width="`${graphSize.width+10}px`" 
          :height="`${graphSize.height+10}px`" 
          :style="{ transform: `translate(${-5}px, ${-5}px)`, opacity: 0 }"
        />
        <g class="x-grid" />
        <g class="y-grid" />
        <g class="x-axis" />
        <g class="y-axis" />
      </g> 
    </svg>
  </div>
</template>

<script>
import * as d3 from 'd3'
import d3Tip from 'd3-tip'
import { zoom } from 'd3-zoom'

export default {
  props: {
    chartData: {
      type: Array,
      default: function() {
        return []
      },
    },
    chartDataStatus: {
      type: Boolean,
      default: false,
    },
    selectedFunds: {
      type: Array,
      default: function() {
        return []
      },
    },
  },

  data() {
    return {
      chartMaxHeight: '',
      chartMaxWidth: '',
      chartConfig: {
        id: 'chart',
        width: 400,
        height: 400,
        margins: {
          top: 5,
          bottom: 100,
          left: 100,
          right: 5,
        },
      },
      chartMarginRatios: {
        top: '',
        bottom: '',
        left: '',
        right: '',
      },
      graphSize: {
        width: 0,
        height: 0,
      },
      graphScales: {
        xScale: '',
        yScale: '',
        zScale: '',
        xGrid: '',
        yGrid: '',
        leftAxis: '',
        bottomAxis: '',
      },
      pointSizes: {
        circle: '1.5px',
        triangle: '5',
        FEDR: '5',
        Rf: '5',
        strokeWidth: '0.8',
      },
      graphCanvas: '',
      tooltips: '',
    }
  },

  watch: {
    chartData() {
      this.updateChart()
    },
  },
  mounted() {
    this.initGraphSize()
    this.initCanvas()
    this.initScales()
    this.updateChart()
    // Add event listener for windows resize
    window.addEventListener('resize', this.onResize)
    // Call onResize method
    this.onResize()
  },
  beforeDestroy() {
    // Remove event listener resize
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    onResize() {
      this.chartMaxHeight = `${window.outerHeight - 100}px`
      this.chartMaxWidth = this.chartMaxHeight
    },
    initCanvas() {
      this.graphCanvas = d3
        .selectAll(`#${this.chartConfig.id}`)
        .select('.chart-canvas')
    },
    initScales() {
      // Add scales
      this.graphScales.xScale = d3
        .scaleLinear()
        .domain([0, 100])
        .range([0, this.graphSize.width])

      this.graphScales.yScale = d3
        .scaleLinear()
        .domain([0, 100])
        .range([this.graphSize.height, 0])

      this.graphScales.zScale = d3.scaleLinear().range([
        '#E53935', // Red
        '#FBC02D', // Yellow
        '#43A047', //  Green
      ])

      // Add Grids
      this.graphScales.xGrid = d3
        .axisTop(this.graphScales.xScale)
        .tickValues([0, 33, 66, 100])
        .tickSize(-this.graphSize.height)
        .tickFormat('')

      this.graphScales.yGrid = d3
        .axisRight(this.graphScales.yScale)
        .tickValues([0, 33, 66, 100])
        .tickSize(this.graphSize.width)
        .tickFormat('')

      // Add Axes
      // Bottom Axis
      this.graphScales.bottomAxis = d3
        .axisBottom(this.graphScales.xScale)
        .tickValues([0, 33, 66, 100])
        .tickFormat('')

      // Left axis
      this.graphScales.leftAxis = d3
        .axisLeft(this.graphScales.yScale)
        .tickValues([0, 33, 66, 100])
        .tickFormat('')
    },
    initTooltips() {
      this.tooltips = d3Tip()
        .attr('class', 'd3-tip')
        .html(d => {
          let text = `<span class="body-1">  ${d.name} </span><br />`
          text += `<span class='caption'> อัตราผลตอบแทน (%): </span><span class='caption'> ${d3.format(
            '.2f'
          )(d.returnOrder)} </span><br />`
          text += `<span class='caption'>ความเสี่ยง (%): </span><span class='caption'> ${d3.format(
            '.2f'
          )(d.riskOrder)} </span><br />`
          text += `<span class='body-1 red--text'> คลิ๊กเพื่อเลือก </span>`
          return text
        })
      this.graphCanvas.call(this.tooltips)
    },
    initGraphSize() {
      this.graphSize.width =
        this.chartConfig.width -
        this.chartConfig.margins.left -
        this.chartConfig.margins.right
      this.graphSize.height =
        this.chartConfig.height -
        this.chartConfig.margins.top -
        this.chartConfig.margins.bottom
    },
    addScalesWithData() {
      this.graphScales.zScale.domain([
        d3.min(this.chartData, d => {
          return d.colorOrder
        }),
        0,
        d3.max(this.chartData, d => {
          return d.colorOrder
        }),
      ])
    },
    addGridLines() {
      // Call x grid
      d3.selectAll(`#${this.chartConfig.id}`)
        .select('.x-grid')
        .call(this.graphScales.xGrid)

      // Call y grid
      d3.selectAll(`#${this.chartConfig.id}`)
        .select('.y-grid')
        .call(this.graphScales.yGrid)
    },

    addAxes() {
      // Call bottom axis
      d3.selectAll(`#${this.chartConfig.id}`)
        .select('.x-axis')
        .attr('transform', `translate(0, ${this.graphSize.height + 5})`)
        .call(this.graphScales.bottomAxis)

      // Call left axis
      d3.selectAll(`#${this.chartConfig.id}`)
        .select('.y-axis')
        .attr('transform', `translate(-5, 0)`)
        .call(this.graphScales.leftAxis)
    },

    emitFundName(fund) {
      this.$emit('selectFund', fund)
    },

    updateChart() {
      this.initTooltips()
      // Add domain of color scale after getting data
      this.addScalesWithData()
      this.addGridLines()
      this.addAxes()

      // Add data to chart

      // Get triangle
      const dTriangle = this.chartData.filter(d => {
        return d.type === 'fund'
      })

      d3.select('g.scatterplotTriangle').remove()

      // Add Triangles
      const chartTriangle = this.graphCanvas
        .append('g')
        .classed('scatterplotTriangle', true)
        .selectAll('.triangle')
        .data(dTriangle)

      chartTriangle.exit().remove()

      chartTriangle
        .enter()
        .append('path')
        .attr('class', 'triangle')
        .attr(
          'd',
          d3
            .symbol()
            .type(d3.symbolTriangle)
            .size(this.pointSizes.triangle)
        )
        .attr('transform', d => {
          return `translate( ${this.graphScales.xScale(
            d.riskOrder
          )} , ${this.graphScales.yScale(d.returnOrder)} )`
        })
        .attr('fill', d => {
          return this.graphScales.zScale(d.colorOrder)
        })
        .attr('fill-opacity', 0.65)
        .attr('stroke', d => {
          return this.graphScales.zScale(d.colorOrder)
        })
        .attr('stroke-width', this.pointSizes.strokeWidth)
        .attr('stroke-opacity', '100%')
        .on('mouseover', this.tooltips.show)
        .on('mouseout', this.tooltips.hide)
        .on('click', d => {
          this.emitFundName(d.name)
        })

      // Add Zoom
      this.Zoom = zoom()
        .scaleExtent([1, 5])
        .on('zoom', zoomed)

      const that = this

      function zoomed() {
        const currentTransform = d3.event.transform
        // console.log(currentTransform)
        const tx = Math.min(
          0,
          Math.max(
            currentTransform.x,
            that.graphSize.width - that.graphSize.width * currentTransform.k
          )
        )
        const ty = Math.min(
          0,
          Math.max(
            currentTransform.x,
            that.graphSize.height - that.graphSize.height * currentTransform.k
          )
        )
        currentTransform.x = tx
        currentTransform.y = ty
        // console.log(currentTransform)

        // Zoom the circles
        that.graphCanvas
          .selectAll('circle')
          .attr('transform', currentTransform.toString())

        // Zoom the triangles
        that.graphCanvas
          .selectAll('path.triangle')
          .attr('transform', `scale(${currentTransform.k})`)
      }

      // Attach Zoom to listenerRect
      // const listenerRect = d3.select('#listener-rect')
      // listenerRect.call(this.Zoom)
    },
  },
}
</script>

<style lang="scss">
.x-grid line,
.x-grid path,
.y-grid line,
.y-grid path {
  stroke: white;
}

.d3-tip {
  line-height: 1.5;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 10000;
}

.caption {
  size: 12px;
  font-weight: 300;
  font-family: 'Bai Jamjuree' !important;
}

.body-1 {
  font-weight: 600;
  font-family: 'Bai Jamjuree' !important;
  line-height: 1.5;
}

.jchart-container {
  margin-left: auto;
  margin-right: auto;
}
</style>
