<template>
  <div class="text-xs-center">
    <v-progress-linear
      v-if="!dataStatus"
      :indeterminate="true" 
      background-color="teal darken-3"
      color="teal lighten-4"
    />
    <svg
      :id="chartConfig.id" 
      :width="chartConfig.width" 
      :height="chartConfig.height"
    >
      <g
        v-show="dataStatus" 
        :style="{transform: `translate(${chartConfig.margins.left}px, ${chartConfig.margins.top}px)`}" 
        class="chart-canvas"
      >
        <rect 
          fill="#E0E0E0" 
          :width="`${graphSize.width+10}px`" 
          :height="`${graphSize.height+10}px`" 
          :style="{transform: `translate(${-5}px, ${-5}px)`}"
        />
        <g class="x-grid" />
        <g class="y-grid" />
        <g class="x-axis" />
        <g class="y-axis" />
      </g> 
    </svg>
  </div>
</template>

<script>
import * as d3 from 'd3'
import d3Tip from 'd3-tip'
import { mapGetters, mapActions } from 'vuex'

export default {
  props: {
    chartConfigProp: {
      type: Object,
      default() {
        return {
          id: 'chart',
          width: 400,
          height: 400,
          aspect: 400 / 400,
          margins: {
            top: 20,
            bottom: 100,
            left: 100,
            right: 20,
          },
        }
      },
    },
  },
  data() {
    return {
      chartData: [],
      chartConfig: Object,
      chartMarginRatios: {
        top: '',
        bottom: '',
        left: '',
        right: '',
      },
      graphSize: {
        width: 0,
        height: 0,
      },
      graphScales: {
        xScale: '',
        yScale: '',
        zScale: '',
        xGrid: '',
        yGrid: '',
        leftAxis: '',
        bottomAxis: '',
      },
      graphCanvas: '',
      tooltips: '',
    }
  },

  computed: {
    ...mapGetters({
      dataStatus: 'data/getInvestmentMapDataStatus',
      investmentData: 'data/getInvestmentMapData',
    }),
    widthModifier() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 0
        case 'sm':
          return 0
        case 'md':
          return 0
        case 'lg':
          return 0
        case 'xl':
          return 0
        default:
          return 0
      }
    },
    pointSizeModifier() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 0
        case 'sm':
          return 1
        case 'md':
          return 2
        case 'lg':
          return 2
        case 'xl':
          return 2
        default:
          return 2
      }
    },
  },

  watch: {
    investmentData() {
      this.updateChart()
    },
  },
  created() {
    // Set chartconfig data to chartconfig prop
    this.chartConfig = this.chartConfigProp
    // Calculate the initial margin ratios
    this.calcMarginRatios()
    // Get data from API
    this.getChartData()
  },
  mounted() {
    // Add event listener for windows resize
    window.addEventListener('resize', this.onResize)
    // Call onResize method
    this.onResize()
  },
  beforeDestroy() {
    // Remove event listener resize
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    ...mapActions({
      getInvestmentData: 'data/retrieveInvestmentChartData',
    }),
    onResize() {
      // Get chart and container of the chart
      const chart = d3.selectAll(`#${this.chartConfig.id}`)
      const container = d3.select(chart.node().parentNode)
      const targetAspect = this.chartConfig.aspect

      // Get width of container and have this width be the target width for the graph
      const targetWidth =
        parseInt(container.style('width')) - this.widthModifier

      // Set new width of graph to be the same as the parent element
      this.chartConfig.width = Math.min(targetWidth, window.outerHeight - 50)
      console.log(window.outerHeight - 50)
      console.log(targetWidth)

      // Calculate and set the height of the graph to maintain the aspect ratio
      const targetHeight = Math.round(this.chartConfig.width / targetAspect)
      this.chartConfig.height = targetHeight

      // Set margins
      this.chartConfig.margins.top =
        this.chartMarginRatios.top * this.chartConfig.height
      this.chartConfig.margins.bottom =
        this.chartMarginRatios.bottom * this.chartConfig.height
      this.chartConfig.margins.left =
        this.chartMarginRatios.left * this.chartConfig.width
      this.chartConfig.margins.right =
        this.chartMarginRatios.right * this.chartConfig.width

      // Create graph area
      this.calcGraphSize()

      // Initialize canvas
      this.initCanvas()

      // Initialize scales
      this.initScales()

      // Add grid lines
      this.addGridLines()

      // Add Axes
      this.addAxes()

      // Redraw chart
      this.updateChart()
    },
    initCanvas() {
      this.graphCanvas = d3
        .selectAll(`#${this.chartConfig.id}`)
        .select('.chart-canvas')
    },
    initScales() {
      // Add scales
      this.graphScales.xScale = d3
        .scaleLinear()
        .domain([0, 100])
        .range([0, this.graphSize.width])

      this.graphScales.yScale = d3
        .scaleLinear()
        .domain([0, 100])
        .range([this.graphSize.height, 0])

      this.graphScales.zScale = d3.scaleLinear().range([
        '#E53935', // Red
        '#FBC02D', // Yellow
        '#43A047', //  Green
      ])

      // Add Grids
      this.graphScales.xGrid = d3
        .axisTop(this.graphScales.xScale)
        .tickValues([0, 33, 66, 100])
        .tickSize(-this.graphSize.height)
        .tickFormat('')

      this.graphScales.yGrid = d3
        .axisRight(this.graphScales.yScale)
        .tickValues([0, 33, 66, 100])
        .tickSize(this.graphSize.width)
        .tickFormat('')

      // Add Axes
      // Bottom Axis
      this.graphScales.bottomAxis = d3
        .axisBottom(this.graphScales.xScale)
        .tickValues([0, 33, 66, 100])
        .tickFormat('')

      // Left axis
      this.graphScales.leftAxis = d3
        .axisLeft(this.graphScales.yScale)
        .tickValues([0, 33, 66, 100])
        .tickFormat('')
    },

    initTooltips() {
      this.tooltips = d3Tip()
        .attr('class', 'd3-tip')
        .html(d => {
          let text = `<span class="body-1">  ${d.name} </span><br />`
          text += `<span class='caption'> อัตราผลตอบแทน (%): </span><span class='caption'> ${d3.format(
            '.2f'
          )(d.returnOrder)} </span><br />`
          text += `<span class='caption'>ความเสี่ยง (%): </span><span class='caption'> ${d3.format(
            '.2f'
          )(d.riskOrder)} </span><br />`
          text += `<span class='body-1 red--text'> คลิ๊กเพื่อเลือก </span>`
          return text
        })
      this.graphCanvas.call(this.tooltips)
    },

    calcMarginRatios() {
      // Calculate margin ratios
      this.chartMarginRatios.top =
        this.chartConfigProp.margins.top / this.chartConfigProp.height
      this.chartMarginRatios.bottom =
        this.chartConfigProp.margins.bottom / this.chartConfigProp.height
      this.chartMarginRatios.left =
        this.chartConfigProp.margins.left / this.chartConfigProp.width
      this.chartMarginRatios.right =
        this.chartConfigProp.margins.right / this.chartConfigProp.width
    },

    calcGraphSize() {
      this.graphSize.width =
        this.chartConfig.width -
        this.chartConfig.margins.left -
        this.chartConfig.margins.right
      this.graphSize.height =
        this.chartConfig.height -
        this.chartConfig.margins.top -
        this.chartConfig.margins.bottom
    },

    getChartData() {
      this.getInvestmentData().then(() => {
        this.chartData = this.investmentData
      })
    },

    addScalesWithData() {
      this.graphScales.zScale.domain([
        d3.min(this.investmentData, d => {
          return d.colorOrder
        }),
        0,
        d3.max(this.investmentData, d => {
          return d.colorOrder
        }),
      ])
    },

    addGridLines() {
      // Call x grid
      d3.selectAll(`#${this.chartConfig.id}`)
        .select('.x-grid')
        .call(this.graphScales.xGrid)

      // Call y grid
      d3.selectAll(`#${this.chartConfig.id}`)
        .select('.y-grid')
        .call(this.graphScales.yGrid)
    },

    addAxes() {
      // Call bottom axis
      d3.selectAll(`#${this.chartConfig.id}`)
        .select('.x-axis')
        .attr('transform', `translate(0, ${this.graphSize.height + 5})`)
        .call(this.graphScales.bottomAxis)

      // Call left axis
      d3.selectAll(`#${this.chartConfig.id}`)
        .select('.y-axis')
        .attr('transform', `translate(-5, 0)`)
        .call(this.graphScales.leftAxis)
    },

    updateChart() {
      this.initTooltips()
      // Add domain of color scale after getting data
      this.addScalesWithData()

      // Add data to chart

      // Get circle data
      const dCircle = this.investmentData.filter(d => {
        return d.marker.symbol === 'circle'
      })
      // Get triangle
      const dTriangle = this.investmentData.filter(d => {
        return d.marker.symbol === 'triangle'
      })
      // Get FEDR Index
      const FEDR = this.investmentData.filter(d => {
        return d.name === '9998'
      })
      // Get Risk-free Index
      const Rf = this.investmentData.filter(d => {
        return d.name === '9999'
      })

      // console.log(dCircle)

      d3.select('g.scatterplotCircle').remove()

      // Add circles
      const chartCircle = this.graphCanvas
        .append('g')
        .classed('scatterplotCircle', true)
        .selectAll('circle')
        .data(dCircle)

      chartCircle.exit().remove()

      chartCircle
        .enter()
        .append('circle')
        .attr('cx', d => {
          return this.graphScales.xScale(d.riskOrder)
        })
        .attr('cy', d => {
          return this.graphScales.yScale(d.returnOrder)
        })
        .attr('r', `${0.1 + this.pointSizeModifier * 0.1}rem`)
        .attr('fill', d => {
          return this.graphScales.zScale(d.colorOrder)
        })
        .attr('fill-opacity', 0.65)
        .attr('stroke', d => {
          return this.graphScales.zScale(d.colorOrder)
        })
        .attr('stroke-width', '2')
        .attr('stroke-opacity', '100%')
        .on('mouseover', this.tooltips.show)
        .on('mouseout', this.tooltips.hide)

      d3.select('g.scatterplotTriangle').remove()

      // Add Triangles
      const chartTriangle = this.graphCanvas
        .append('g')
        .classed('scatterplotTriangle', true)
        .selectAll('.triangle')
        .data(dTriangle)

      chartTriangle.exit().remove()

      chartTriangle
        .enter()
        .append('path')
        .attr('class', 'triangle')
        .attr(
          'd',
          d3
            .symbol()
            .type(d3.symbolTriangle)
            .size(`${10 + this.pointSizeModifier * 10}`)
        )
        .attr('transform', d => {
          return `translate( ${this.graphScales.xScale(
            d.riskOrder
          )} , ${this.graphScales.yScale(d.returnOrder)} )`
        })
        .attr('fill', d => {
          return this.graphScales.zScale(d.colorOrder)
        })
        .attr('fill-opacity', 0.65)
        .attr('stroke', d => {
          return this.graphScales.zScale(d.colorOrder)
        })
        .attr('stroke-width', '2')
        .attr('stroke-opacity', '100%')
        .on('mouseover', this.tooltips.show)
        .on('mouseout', this.tooltips.hide)

      d3.select('g.scatterplotFEDR').remove()

      // Add FEDR
      const chartFEDR = this.graphCanvas
        .append('g')
        .classed('scatterplotFEDR', true)
        .selectAll('.star')
        .data(FEDR)

      chartFEDR.exit().remove()

      chartFEDR
        .enter()
        .append('path')
        .attr('class', 'fedr')
        .attr(
          'd',
          d3
            .symbol()
            .type(d3.symbolStar)
            .size(`${40 + this.pointSizeModifier * 20}`)
        )
        .attr('transform', d => {
          return `translate( ${this.graphScales.xScale(
            d.riskOrder
          )} , ${this.graphScales.yScale(d.returnOrder)} )`
        })
        .attr('fill', 'blue')
        .attr('fill-opacity', 1)
        .attr('stroke', 'blue')
        .attr('stroke-width', '1')
        .attr('stroke-opacity', '100%')
        .on('mouseover', this.tooltips.show)
        .on('mouseout', this.tooltips.hide)

      d3.select('g.scatterplotRf').remove()

      // Add Rf (savings)
      const chartRf = this.graphCanvas
        .append('g')
        .classed('scatterplotRf', true)
        .selectAll('.square')
        .data(Rf)

      chartRf.exit().remove()

      chartRf
        .enter()
        .append('path')
        .attr('class', 'fedr')
        .attr(
          'd',
          d3
            .symbol()
            .type(d3.symbolSquare)
            .size(`${40 + this.pointSizeModifier * 20}`)
        )
        .attr('transform', d => {
          return `translate( ${this.graphScales.xScale(
            d.riskOrder
          )} , ${this.graphScales.yScale(d.returnOrder)} )`
        })
        .attr('fill', 'blue')
        .attr('fill-opacity', 1)
        .attr('stroke', 'blue')
        .attr('stroke-width', '1')
        .attr('stroke-opacity', '100%')
        .on('mouseover', this.tooltips.show)
        .on('mouseout', this.tooltips.hide)
    },
  },
}
</script>

<style lang="scss">
.x-grid line,
.x-grid path,
.y-grid line,
.y-grid path {
  stroke: white;
}

.d3-tip {
  line-height: 1.5;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.caption {
  size: 12px;
  font-weight: 300;
  font-family: 'Bai Jamjuree' !important;
}

.body-1 {
  font-weight: 600;
  font-family: 'Bai Jamjuree' !important;
  line-height: 1.5;
}
</style>
