<template>
  <v-layout row wrap>
    <v-flex xs12 sm6 md12>
      <v-autocomplete 
        v-model="filterList.fund_comp_name"
        :items="mutualfundCompanyList"
        placeholder="Company"
        multiple
        chips
        @focusout="filterMutualFundList"
      >
        <template v-slot:selection="data">
          <v-chip
            :selected="data.selected"
            close
            @input="removeMutualfundCompany(data.item)"
          >
            {{ data.item }}
          </v-chip>
        </template>
      </v-autocomplete>
      <v-autocomplete 
        v-model="filterList.fund_div_pol"
        :items="mutualfundDivPolicyList"
        placeholder="Dividend Policy"
        multiple
        chips
        @focusout="filterMutualFundList"
      >
        <template v-slot:selection="data">
          <v-chip
            :selected="data.selected"
            close
            @input="removeMutualfundDivPolicy(data.item)"
          >
            {{ data.item }}
          </v-chip>
        </template>
      </v-autocomplete>
      <v-autocomplete 
        v-model="filterList.fund_inv_pol"
        :items="mutualfundInvPolicyList"
        placeholder="Investment Policy"
        multiple
        chips
        @focusout="filterMutualFundList"
      >
        <template v-slot:selection="data">
          <v-chip
            :selected="data.selected"
            close
            @input="removeMutualfundInvPolicy(data.item)"
          >
            {{ data.item }}
          </v-chip>
        </template>
      </v-autocomplete>
    </v-flex>
    <v-flex xs12 sm6 md12>
      <v-autocomplete 
        v-model="filterList.fund_pol"
        :items="mutualfundPolicyList"
        placeholder="Policy"
        multiple
        chips
        @focusout="filterMutualFundList"
      >
        <template v-slot:selection="data">
          <v-chip
            :selected="data.selected"
            close
            @input="removeMutualfundPolicy(data.item)"
          >
            {{ data.item }}
          </v-chip>
        </template>
      </v-autocomplete>
      <v-autocomplete 
        v-model="filterList.fund_spec_code"
        :items="mutualfundSpeccodeList"
        placeholder="Special Policy"
        multiple
        chips
        @focusout="filterMutualFundList"
      >
        <template v-slot:selection="data">
          <v-chip
            :selected="data.selected"
            close
            @input="removeMutualfundSpecialCode(data.item)"
          >
            {{ data.item }}
          </v-chip>
        </template>
      </v-autocomplete>
      <v-autocomplete 
        v-model="mutualfundSelected"
        :items="mutualfundListFiltered"
        item-text="fund_init_name"
        item-value="fund_init_name"
        placeholder="Selected Funds"
        chips
        multiple
        @change="fundSelect"
      >
        <template v-slot:selection="data">
          <v-chip
            :selected="data.selected"
            close
            @input="removeMutualfundSelected(data.item)"
          >
            {{ data.item.fund_init_name }}
          </v-chip>
        </template>
      </v-autocomplete>
    </v-flex>
    <v-btn @click="toggleBottomSheet=!toggleBottomSheet">
      Click
    </v-btn>
    <v-bottom-sheet inset hide-overlay persistent :value="toggleBottomSheet">
      <v-card tile>
        test
      </v-card>
    </v-bottom-sheet>
    <v-snackbar v-model="toggleSnackbar" :timeout="timeoutSnackbar" color="error" top>
      <v-alert
        :value="true"
        type="error"
      >
        <p>
          You can't select more than 5 funds
        </p>
      </v-alert>
    </v-snackbar>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  props: {
    fundClicked: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      toggleBottomSheet: false,
      toggleSnackbar: false,
      timeoutSnackbar: 3000,
      mutualfundListFiltered: [],
      mutualfundSelected: [],
      filterList: {
        fund_comp_name: [],
        fund_div_pol: [],
        fund_inv_pol: [],
        fund_pol: [],
        fund_spec_code: [],
      },
    }
  },

  computed: {
    ...mapGetters({
      mutualfundListStatus: 'data/getMutualfundDataStatus',
      mutualfundList: 'data/getMutualfundData',
    }),
    mutualfundCompanyList() {
      return this.mutualfundList
        .map(d => {
          // Get company name from mutual fund list
          return d.fund_comp_name
        })
        .filter((value, index, self) => {
          // Get the unique values
          return self.indexOf(value) === index
        })
    },
    mutualfundDivPolicyList() {
      return this.mutualfundList
        .map(d => {
          // Get dividend policy from mutual fund list
          return d.fund_div_pol
        })
        .filter((value, index, self) => {
          // Get the unique values
          return self.indexOf(value) === index
        })
    },
    mutualfundInvPolicyList() {
      return this.mutualfundList
        .map(d => {
          // Get investment policy from mutual fund list
          return d.fund_inv_pol
        })
        .filter((value, index, self) => {
          // Get the unique values
          return self.indexOf(value) === index
        })
    },
    mutualfundPolicyList() {
      return this.mutualfundList
        .map(d => {
          // Get fund policy from mutual fund list
          return d.fund_pol
        })
        .filter((value, index, self) => {
          // Get the unique values
          return self.indexOf(value) === index
        })
    },
    mutualfundSpeccodeList() {
      return this.mutualfundList
        .map(d => {
          // Get fund policy from mutual fund list
          return d.fund_spec_code
        })
        .filter((value, index, self) => {
          // Get the unique values
          return self.indexOf(value) === index
        })
    },
  },

  watch: {
    mutualfundSelected() {
      // console.log(this.mutualfundSelected)

      if (this.mutualfundSelected.length > 5) {
        this.toggleSnackbar = true
        this.mutualfundSelected.pop()
      }

      this.toggleBottomSheet = this.mutualfundSelected.length > 0
    },
    fundClicked() {
      // console.log(this.fundClicked)
      // Check if fund is already selected
      if (this.mutualfundSelected.length > 0) {
        // console.log('mutualfundSelected is not empty')
        // console.log(this.mutualfundSelected.length)
        if (
          this.mutualfundSelected.some(fund => {
            // console.log(fund)
            return fund !== this.fundClicked
          })
        ) {
          // console.log('Fund not already selected')
          this.mutualfundSelected.push(this.fundClicked)
        }
      } else {
        // console.log('mutualfundSelected is empty')
        this.mutualfundSelected.push(this.fundClicked)
      }
    },
  },

  created() {
    this.getMutualfundList().then(() => {
      // console.log(this.mutualfundList)
      // console.log(this.mutualfundCompanyList)
      this.mutualfundListFiltered = this.mutualfundList
      // console.log(this.mutualfundListFiltered)
    })
  },
  methods: {
    ...mapActions({
      getMutualfundList: 'data/retrieveMutualfundData', // Get mutual fund list from API
    }),
    filterMutualFundList() {
      // Filter mutualfundList and save it to mutualfundListFiltered

      const filterBy = this.filterList
      // console.log(filterBy)
      Object.keys(filterBy).forEach(k => {
        if (filterBy[k].length < 1) {
          delete filterBy[k]
        }
      })

      this.mutualfundListFiltered = this.mutualfundList.filter(company => {
        return Object.keys(filterBy).every(k => {
          return filterBy[k].some(f => {
            return company[k] === f
          })
        })
      })
      this.emitFilter()
      // console.log(this.mutualfundListFiltered.length)
    },
    removeMutualfundCompany(company) {
      const index = this.filterList.fund_comp_name.indexOf(company)
      if (index >= 0) {
        this.filterList.fund_comp_name.splice(index, 1)
      }
      this.filterMutualFundList()
    },
    removeMutualfundDivPolicy(policy) {
      const index = this.filterList.fund_div_pol.indexOf(policy)
      if (index >= 0) {
        this.filterList.fund_div_pol.splice(index, 1)
      }
      this.filterMutualFundList()
    },
    removeMutualfundInvPolicy(policy) {
      const index = this.filterList.fund_inv_pol.indexOf(policy)
      if (index >= 0) {
        this.filterList.fund_inv_pol.splice(index, 1)
      }
      this.filterMutualFundList()
    },
    removeMutualfundPolicy(policy) {
      const index = this.filterList.fund_pol.indexOf(policy)
      if (index >= 0) {
        this.filterList.fund_pol.splice(index, 1)
      }
      this.filterMutualFundList()
    },
    removeMutualfundSpecialCode(code) {
      const index = this.filterList.fund_spec_code.indexOf(code)
      if (index >= 0) {
        this.filterList.fund_spec_code.splice(index, 1)
      }
      this.filterMutualFundList()
    },
    removeMutualfundSelected(fund) {
      // console.log(fund.fund_init_name)
      const index = this.mutualfundSelected.indexOf(fund.fund_init_name)
      if (index >= 0) {
        this.mutualfundSelected.splice(index, 1)
      }

      // console.log(this.mutualfundSelected)
      // this.emitMutualfundSelected()
    },
    fundSelect() {
      // this.emitMutualfundSelected()
    },
    emitFilter() {
      // console.log('emiting filter')
      this.$emit('filtered', this.mutualfundListFiltered)
    },
  },
  layout: 'layout-sidebar',
}
</script>
