<template>
  <v-container fluid>
    <v-layout
      row
      pt-0
      mt-0
      wrap
    >
      <v-flex 
        xs12 
        md9 
        order-xs2 
        order-md1 
        px-3 
        pt-0
      >
        <mutualfund-map
          :chart-data="filteredInvestmentData"
          :chart-data-status="dataStatus"
          @selectFund="selectFundFromMap"
        />
      </v-flex>
      <v-flex 
        xs12 
        md3 
        order-xs1 
        order-md2 
        px-3 
        pt-0
      >
        <mutualfund-filter 
          :fund-clicked="selectedFundFromMap"
          @filtered="receiveFilter"
          @selectedFundFromFilter="selectedFundFromFilter"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import mutualfundFilter from './../../components/filters/mutualfundFilter'
import mutualfundMap from './../../components/charts/chartmutualfundmap'

export default {
  components: {
    mutualfundFilter,
    mutualfundMap,
  },
  data() {
    return {
      filteredInvestmentData: [],
      selectedFundFromMap: '',
    }
  },
  computed: {
    ...mapGetters({
      dataStatus: 'data/getInvestmentMapDataStatus', // For loader
      investmentData: 'data/getInvestmentMapData', // Get loaded data from store
    }),
  },
  created() {
    this.getInvestmentData().then(() => {
      this.filteredInvestmentData = this.investmentData
    })
  },
  methods: {
    ...mapActions({
      getInvestmentData: 'data/retrieveInvestmentChartData', // Get data from API
    }),
    receiveFilter(filter) {
      // console.log('filter received')
      // console.log(filter)
      // console.log(this.investmentData)

      this.filterInvestmentData(filter)

      // Add filter method of investment data
      // use fund_init_name to filter id
    },
    filterInvestmentData(filterList) {
      // Create filtering array

      // console.log(filterList)

      const filterName = filterList.map(asset => {
        return asset.fund_id
      })

      // console.log(filterName)
      // console.log(this.investmentData)

      this.filteredInvestmentData = this.investmentData.filter(asset => {
        // console.log(asset)
        // return this.investmentData.name in filterName
        return filterName.some(name => {
          return name === asset.id
        })
      })
      // console.log(this.filteredInvestmentData)
    },

    selectFundFromMap(fund) {
      // console.log(fund)
      this.selectedFundFromMap = fund
    },

    selectedFundFromFilter(funds) {
      this.selectedFundFromMap = ''
      // console.log(funds)
    },
  },
  layout: 'layout-sidebar',
}
</script>
