<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card flat color="teal darken-2">
          <v-card-text>
            <h1 class="group pa-2 white--text headline">
              <v-icon dark>
                search
              </v-icon>
              เปรียบเทียบกองทุนรวม
            </h1>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'layout-sidebar',
}
</script>
