// Colors
 $app-color-mutualfund: #472445;
 $app-color-stock: #673453;
 $app-color-library: #ff6b53;
 $app-color-portfolio: #ffa755;
 $app-color-investmentmap: #3490dc;
 $app-color-ranking: #38c172;
 
 
 
 