// SidebarDefault
.sidemenu__popup {
    border-radius: 0px;
}
.sidemenu {
    &__mutualfund {
        &.v-card {

            background-color: $app-color-mutualfund;
        }
    }
    
    &__stock {
        &.v-card {
            background-color: $app-color-stock;
        }
    }

    &__portfolio {
        &.v-card {
            background-color: $app-color-portfolio;
        }
    }

    &__library {
        &.v-card {
            background-color: $app-color-library;
        }
    }

    &__investmentmap {
        &.v-card {
            background-color: $app-color-investmentmap;
        }
    }

    &__ranking {
        &.v-card {
            background-color: $app-color-ranking;
        }
    }
}