<template>
  <v-container fluid>
    <v-layout 
      row
      pt-0
      mt-0
      wrap
    >
      <v-flex xs12 lg9 px-3>
        <div :style="chartSize">
          <chart-investment-map
            :chart-data="investmentData"
            :chart-data-status="dataStatus"
          />
        </div>
      </v-flex>
      <v-flex xs12 lg3 class="text-xs-center" pr-3>
        <v-layout row wrap justify-center>
          <v-flex 
            xs12
            sm6
            offset-sm3
            md4 
            lg12 
            ml-0 
            mb-3
          >
            <v-data-table
              :headers="headers"
              :items="ranking"
              :total-items="5"
              hide-actions
              dark
            >
              <template 
                slot="items"
                slot-scope="props"
              >
                <td class="text-xs-center px-0">
                  {{ props.item.rank }}
                </td>
                <td class="text-xs-center px-0">
                  {{ props.item.name }}
                </td>
                <td class="text-xs-center px-0">
                  {{ props.item.return }}
                </td>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex 
            xs12
            sm6
            offset-sm3
            md4 
            lg12  
            ml-0 
            mb-3
          >
            <v-data-table
              :headers="headers"
              :items="ranking"
              :total-items="5"
              hide-actions
              dark
            >
              <template 
                slot="items"
                slot-scope="props"
              >
                <td class="text-xs-center px-0">
                  {{ props.item.rank }}
                </td>
                <td class="text-xs-center px-0">
                  {{ props.item.name }}
                </td>
                <td class="text-xs-center px-0">
                  {{ props.item.return }}
                </td>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex 
            xs12
            sm6
            offset-sm3
            md4
            lg12
            ml-0
          >
            <v-data-table
              :headers="headers"
              :items="ranking"
              :total-items="5"
              hide-actions
              dark
            >
              <template 
                slot="items"
                slot-scope="props"
              >
                <td class="text-xs-center px-0">
                  {{ props.item.rank }}
                </td>
                <td class="text-xs-center px-0">
                  {{ props.item.name }}
                </td>
                <td class="text-xs-center px-0">
                  {{ props.item.return }}
                </td>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import chartInvestmentMap from './../../components/charts/chartinvestmentmap'

export default {
  components: {
    chartInvestmentMap,
  },
  data() {
    return {
      chartSize: {
        maxHeight: '',
      },
      headers: [
        {
          text: 'Rank',
          align: 'center',
          value: 'rank',
          class: 'px-1 subheading',
          sortable: false,
        },
        {
          text: 'Fund Name',
          align: 'center',
          value: 'name',
          class: 'px-1 subheading',
          sortable: false,
        },
        {
          text: 'Fund Return',
          align: 'center',
          value: 'return',
          class: 'px-1 subheading',
          sortable: false,
        },
      ],
      ranking: [
        {
          name: 'fund 1',
          rank: '1',
          return: '1',
          risk: '1',
        },
        {
          name: 'fund 1',
          rank: '1',
          return: '1',
          risk: '1',
        },
        {
          name: 'fund 1',
          rank: '1',
          return: '1',
          risk: '1',
        },
        {
          name: 'fund 1',
          rank: '1',
          return: '1',
          risk: '1',
        },
        {
          name: 'fund 1',
          rank: '1',
          return: '1',
          risk: '1',
        },
      ],
    }
  },
  computed: {
    ...mapGetters({
      dataStatus: 'data/getInvestmentMapDataStatus', // For loader
      investmentData: 'data/getInvestmentMapData', // Get loaded data from store
    }),
  },
  created() {
    this.getInvestmentData()
  },
  mounted() {
    // Add event listener for windows resize
    window.addEventListener('resize', this.onResize)
    // Call onResize method
    this.onResize()
  },
  beforeDestroy() {
    // Remove event listener resize
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    ...mapActions({
      getInvestmentData: 'data/retrieveInvestmentChartData', // Get data from API
    }),
    onResize() {
      this.chartSize.maxHeight = `${window.outerHeight - 200}px`
    },
  },
  layout: 'layout-sidebar',
}
</script>
