<template>
  <v-app>
    <navbar no-side-bar />
    <v-content>
      <nuxt />
    </v-content>
  </v-app>
</template>

<script>
import navbar from './../components/layouts/navbar'

export default {
  components: {
    navbar,
  },
}
</script>

<style lang="scss">
@import './../assets/style/sass/app.scss';
</style>
