<template>
  <v-app>
    <sidebar />
    <navbar />
    <v-content>
      <nuxt />
    </v-content>
  </v-app>
</template>

<script>
import navbar from './../components/layouts/navbar'
import sidebar from './../components/layouts/sidebar'

export default {
  components: {
    navbar,
    sidebar,
  },
}
</script>

<style lang="scss">
@import './../assets/style/sass/app.scss';
</style>
