<template>
  <v-container 
    fluid 
    text-xs-center 
    class="pa-0 ma-0"
  >
    <v-layout 
      v-resize="onResize" 
      row 
      wrap
    >
      <v-flex 
        xs12 
        md6
      >
        <v-hover>
          <v-card 
            slot-scope="{ hover }"
            flat 
            tile 
            dark 
            class="sidemenu__mutualfund pt-5" 
            width="100%" 
            :height="heightTop"
          >
            <v-expand-transition>
              <div  
                v-if="hover"
                class="d-flex transition-fast-in-fast-out black display-3 white--text v-card--reveal"
                style="height: 100%;"
              >
                <v-container>
                  <v-layout row wrap>
                    <v-flex 
                      v-for="btn in mutualfundBtns"
                      :key="btn.id"
                      xs12 
                      lg4 
                      class="pa-3"
                    >
                      <v-btn 
                        outline
                        dark
                        large
                        block
                        class="headline font-weight-regular"
                        :to="btn.link"
                      >
                        <v-icon>
                          {{ btn.icon }}
                        </v-icon>
                        {{ btn.text }}
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </div>
            </v-expand-transition>   
            <v-card-text> 
              <v-icon large>
                {{ mutualfundDetails.icon }}
              </v-icon>
              <p class="text-xs-center pt-2 mb-0 headline"> 
                {{ mutualfundDetails.nameTh }}
              </p>
              <p class="text-xs-center pt-1 mb-0 headline">
                ({{ mutualfundDetails.nameEn }})
              </p>
              <p 
                class="text-xs-left mt-4 title font-weight-regular"
                :class="{
                  'px-5': $vuetify.breakpoint.mdAndUp, 
                  'px-0': $vuetify.breakpoint.smAndDown,
                  'mx-5': $vuetify.breakpoint.mdAndUp,
                  'mx-3': $vuetify.breakpoint.smAndDown,
                }"
              >    
                {{ mutualfundDetails.contentTxt }}
              </p>
            </v-card-text>    
          </v-card>
        </v-hover>
      </v-flex>
      <v-flex 
        xs12 
        md6
      >
        <v-hover>
          <v-card 
            slot-scope="{ hover }"
            flat 
            tile 
            dark 
            class="sidemenu__stock pt-5" 
            width="100%" 
            :height="heightTop"
          >
            <v-expand-transition>
              <div  
                v-if="hover"
                class="d-flex transition-fast-in-fast-out black display-3 white--text v-card--reveal"
                style="height: 100%;"
              >
                <v-container>
                  <v-layout row wrap>
                    <v-flex 
                      v-for="btn in stockBtns"
                      :key="btn.id"
                      xs12 
                      lg4 
                      class="pa-3"
                    >
                      <v-btn 
                        outline
                        dark
                        large
                        block
                        class="headline font-weight-regular"
                        :to="btn.link"
                      >
                        <v-icon>
                          {{ btn.icon }}
                        </v-icon>
                        {{ btn.text }}
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </div>
            </v-expand-transition>   
            <v-card-text> 
              <v-icon large>
                {{ stockDetails.icon }}
              </v-icon>
              <p class="text-xs-center pt-2 mb-0 headline"> 
                {{ stockDetails.nameTh }}
              </p>
              <p class="text-xs-center pt-1 mb-0 headline">
                ({{ stockDetails.nameEn }})
              </p>
              <p 
                class="text-xs-left mt-4  title font-weight-regular"
                :class="{
                  'px-5': $vuetify.breakpoint.mdAndUp, 
                  'px-0': $vuetify.breakpoint.smAndDown,
                  'mx-5': $vuetify.breakpoint.mdAndUp,
                  'mx-3': $vuetify.breakpoint.smAndDown,
                }"
              >    
                {{ stockDetails.contentTxt }}
              </p>
            </v-card-text>    
          </v-card>
        </v-hover>
      </v-flex>
      <v-flex 
        xs12 
        md3
      >
        <v-card 
          slot="activator" 
          flat 
          tile 
          dark 
          class="sidemenu__investmentmap pt-5" 
          width="100%"
          :height="heightBottom"
          :to="imapDetails.to"
        >
          <v-card-text>
            <p class="text-xs-center mb-0">
              <v-icon>
                {{ imapDetails.icon }}
              </v-icon>
            </p>
            <p class="text-xs-center pt-2 mb-0 headline"> 
              {{ imapDetails.nameTh }} 
            </p>
            <p class="text-xs-center pt-1 mb-0 headline"> 
              ({{ imapDetails.nameEn }})  
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex 
        xs12 
        md3
      >
        <v-card  
          flat 
          tile 
          dark 
          class="sidemenu__portfolio pt-5" 
          width="100%"
          :height="heightBottom"
          :to="portfolioDetails.to"
        >
          <v-card-text>
            <p class="text-xs-center mb-0">
              <v-icon>
                {{ portfolioDetails.icon }}
              </v-icon>
            </p>
            <p class="text-xs-center pt-2 mb-0 headline"> 
              {{ portfolioDetails.nameTh }} 
            </p>
            <p class="text-xs-center pt-1 mb-0 headline"> 
              ({{ portfolioDetails.nameEn }})  
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex 
        xs12 
        md3
      >
        <v-hover>
          <v-card 
            slot-scope="{ hover }"
            flat 
            tile 
            dark 
            class="sidemenu__ranking pt-5"  
            width="100%"
            :height="heightBottom"
          >
            <v-expand-transition>
              <div  
                v-if="hover"
                class="d-flex transition-fast-in-fast-out black display-3 white--text v-card--reveal"
                style="height: 100%;"
              >
                <v-container>
                  <v-layout 
                    row 
                    wrap
                  >
                    <v-flex 
                      v-for="btn in rankingBtns"
                      :key="btn.id"
                      xs12 
                      lg6 
                      class="pa-3"
                    >
                      <v-btn 
                        outline
                        dark
                        large
                        block
                        class="headline font-weight-regular"
                        :to="btn.link"
                      >
                        {{ btn.text }}
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </div>
            </v-expand-transition>
            <v-card-text>
              <p class="text-xs-center mb-0">
                <v-icon>
                  {{ rankingDetails.icon }}
                </v-icon>
              </p>
              <p class="text-xs-center pt-2 mb-0 headline"> 
                {{ rankingDetails.nameTh }} 
              </p>
              <p class="text-xs-center pt-1 mb-0 headline"> 
                ({{ rankingDetails.nameEn }})  
              </p>
            </v-card-text>
          </v-card>
        </v-hover>
      </v-flex>
      <v-flex 
        xs12 
        md3
      >
        <v-card 
          flat 
          tile 
          dark 
          class="sidemenu__library pt-5" 
          width="100%"
          :height="heightBottom"
          :to="libraryDetails.to"
        >
          <v-card-text>
            <p class="text-xs-center mb-0">
              <v-icon>
                {{ libraryDetails.icon }}
              </v-icon>
            </p>
            <p class="text-xs-center pt-2 mb-0 headline"> 
              {{ libraryDetails.nameTh }} 
            </p>
            <p class="text-xs-center pt-1 mb-0 headline"> 
              ({{ libraryDetails.nameEn }})  
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      mutualfundBtns: [
        {
          text: 'ค้นหา',
          icon: 'search',
          link: '#',
        },
        {
          text: 'เปรียบเทียบ',
          icon: 'compare_arrows',
          link: '#',
        },
        {
          text: 'จัดลำดับ',
          icon: 'attach_money',
          link: '#',
        },
      ],
      mutualfundDetails: {
        nameTh: 'กองทุนรวม',
        nameEn: 'Mutual Fund',
        icon: 'attach_money',
        contentTxt:
          'ค้นหากองทุน และ เปรียบเทียบ ผลการดำเนินงานของกองทุน เพื่อเลือกกองทุนที่เหมาะสมกับการลงทุนของท่าน',
      },
      stockBtns: [
        {
          text: 'ค้นหา',
          icon: 'search',
          link: '#',
        },
        {
          text: 'เปรียบเทียบ',
          icon: 'compare_arrows',
          link: '#',
        },
        {
          text: 'จัดลำดับ',
          icon: 'attach_money',
          link: '#',
        },
      ],
      stockDetails: {
        nameTh: 'หุ้นสามัญ',
        nameEn: 'Stock',
        icon: 'trending_up',
        contentTxt:
          'ค้นหาหุ้น และ เปรียบเทียบ ผลการดำเนินงานของหุ้น เพื่อเลือกหุ้นที่เหมาะสมกับการลงทุนของท่าน',
      },
      imapDetails: {
        nameTh: 'แผนที่การลงทุน',
        nameEn: 'Investment Map',
        icon: 'location_on',
        to: '/investmentmap',
      },
      portfolioDetails: {
        nameTh: 'พอร์ตการลงทุน',
        nameEn: 'Portfolio',
        icon: 'description',
        to: '#',
      },
      rankingBtns: [
        {
          text: 'กองทุน',
          link: '#',
        },
        {
          text: 'หุ้นสามัญ',
          link: '#',
        },
      ],
      rankingDetails: {
        nameTh: 'การจัดลำดับ',
        nameEn: 'Ranking',
        icon: 'equalizer',
      },
      libraryDetails: {
        nameTh: 'ห้องความรู้',
        nameEn: 'Library',
        icon: 'local_library',
        to: '#',
      },
    }
  },
  computed: {
    ...mapGetters(['HomeTopCardHeight']),
    heightTop() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 'auto'
      } else {
        return this.HomeTopCardHeight(0.6)
      }
    },
    heightBottom() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 'auto'
      } else {
        return this.HomeTopCardHeight(0.4)
      }
    },
  },
  methods: {
    ...mapActions(['onResize']),
  },
  layout: 'layout-firstpage',
}
</script>

<style lang="scss">
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: 10000;
}
</style>
