<template>
  <nav>
    <v-toolbar
      flat
      dark
      app
      color="black"
      clipped-left
      height="54px"
    >
      <v-toolbar-title>
        <v-card 
          flat 
          width="150px" 
          color="black"
        >
          <v-container
            fluid
            class="pa-0"
          >
            <v-layout row>
              <v-flex xs4>
                <v-btn
                  v-if="!noSideBar"
                  icon
                  outline
                  color="teal"
                  class="pa-0"
                  @click="switchDrawerStatus"
                >
                  <v-icon>
                    {{ `chevron_${drawer ? 'left' : 'right' }` }}
                  </v-icon>
                </v-btn>
              </v-flex>
              <v-flex xs8>
                <v-img
                  contain
                  height="50px"
                  :src="require('./../../static/media/imgs/logos/logo-fin.png')"
                />
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-toolbar-title>
      
      <v-tabs
        class="hidden-sm-and-down pl-3"
        color="transparent"
        :slider-color="sliderColor"
        :mandatory="false"
      >
        <v-tab
          v-for="menu in menuList"
          :key="menu.id"
          :to="menu.to"
          nuxt
          exact
          class="title text-none font-weight-regular"
        >
          {{ menu.text }}
        </v-tab>
      </v-tabs>
      <v-spacer />

      <v-menu
        offset-y
        left
        transition="slide-y-transition"
      >
        <v-toolbar-side-icon
          slot="activator"
          color="teal"
          outline
          class="hidden-md-and-up"
        />
        <v-list>
          <v-list-tile
            v-for="(menu, index) in menuList"
            :key="index"
            :to="menu.to"
            exact
          >
            <v-list-tile-title>
              {{ menu.text }}
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>

      <v-btn
        flat
        outline
        color="teal"
        class="title font-weight-bold"
      >
        เข้าสู่ระบบ
      </v-btn>
    </v-toolbar>
  </nav>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  props: {
    noSideBar: {
      type: Boolean,
    },
  },
  data() {
    return {
      menuList: [
        {
          to: '/',
          text: 'หน้าแรก',
        },
        {
          to: '/investmentmap',
          text: 'Investment Map',
        },
        {
          to: '/about',
          text: 'เกี่ยวกับเรา',
        },
      ],
      sidebarShow: true,
      sliderColor: 'cyan',
    }
  },
  computed: {
    ...mapGetters({
      drawer: 'getDrawerStatus',
    }),
  },
  watch: {
    $route() {
      // console.log(this.$route.path)
      const links = this.menuList.map(d => {
        return d.to
      })
      // console.log(links)

      if (!(links.indexOf(this.$route.path) > -1)) {
        // console.log('not in menu')
        this.sliderColor = 'black'
      } else {
        // console.log('in menu')
        this.sliderColor = 'cyan'
      }
    },
  },
  methods: {
    ...mapMutations({
      switchDrawerStatus: 'switchDrawerStatus',
    }),
  },
}
</script>

<style lang="scss">
.btn__toolbar-item {
  border-radius: 0px !important;
  &:hover {
    background-color: #009688;
  }
  &.v-btn--active {
    background-color: #009688;
  }
}

.v-toolbar__content {
  padding: 0;
}

.v-image {
  margin: 0 auto;
}
</style>
