<template>
  <v-navigation-drawer
    :value="drawer"
    clipped
    fixed
    app
    mini-variant
    mini-variant-width="150"
    class="black"
    mobile-break-point="960"
    @input="checkStatus"
  >
    <div class="sidebar__container">
      <v-layout row wrap>
        <v-flex 
          v-for="menulist in menuWithSub" 
          :key="menulist.id" 
          xs12 
          d-flex
        >
          <v-menu 
            offset-x 
            open-on-hover 
            open-on-click 
            close-delay="200" 
            content-class="sidemenu__popup"
          >
            <v-card 
              slot="activator" 
              flat 
              tile 
              dark 
              :class="menulist.className" 
              width="100%"
            >
              <v-card-text class="my-3">
                <p class="text-xs-center pt-2 mb-0">
                  <v-icon>
                    {{ menulist.icon }}
                  </v-icon>
                </p>
                <p class="text-xs-center pt-2 mb-0">
                  {{ menulist.textTH }}
                </p>
                <p class="text-xs-center pt-1 mb-0"> 
                  ({{ menulist.textEN }})
                </p>
              </v-card-text>
            </v-card>
            <v-card flat tile :class="menulist.className">
              <v-card-text class="pa-0 ma-0">
                <v-btn
                  v-for="menusublist in menulist.submenu"
                  :key="menusublist.id" 
                  flat 
                  block 
                  dark 
                  class="px-3 ma-0 font-weight-light"
                  :to="menusublist.link"
                  exact
                  nuxt
                >
                  {{ menusublist.text }}
                </v-btn>
              </v-card-text>
            </v-card>
          </v-menu>
        </v-flex>
        <v-flex 
          v-for="menulist in menu" 
          :key="menulist.id" 
          xs12 
          d-flex
        >
          <v-card  
            flat 
            tile 
            dark 
            :class="menulist.className" 
            width="100%"
            :to="menulist.link"
            nuxt
            exact
          >
            <v-card-text class="my-3">
              <p class="text-xs-center pt-2 mb-0">
                <v-icon>
                  {{ menulist.icon }}
                </v-icon>
              </p>
              <p class="text-xs-center pt-2 mb-0">
                {{ menulist.textTH }}
              </p>
              <p class="text-xs-center pt-1 mb-0"> 
                ({{ menulist.textEN }})
              </p>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </div>  
  </v-navigation-drawer>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  data() {
    return {
      menuWithSub: [
        {
          textTH: 'กองทุนรวม',
          textEN: 'Mutual Fund',
          icon: 'attach_money',
          className: 'sidemenu__mutualfund',
          submenu: [
            {
              text: 'ค้นหากองทุน',
              link: '/mutualfund',
            },
            {
              text: 'เปรียบเทียบกองทุน',
              link: '/mutualfund/compare/',
            },
            {
              text: 'จัดลำดับกองทุน',
              link: '#',
            },
          ],
        },
        {
          textTH: 'หุ้นสามัญ',
          textEN: 'Stock',
          icon: 'attach_money',
          className: 'sidemenu__stock',
          submenu: [
            {
              text: 'ค้นหาหุ้น',
              link: '#',
            },
            {
              text: 'เปรียบเทียบหุ้น',
              link: '#',
            },
            {
              text: 'จัดลำดับหุ้น',
              link: '#',
            },
          ],
        },
      ],
      menu: [
        {
          textTH: 'ห้องความรู้',
          textEN: 'Library',
          icon: 'attach_money',
          className: 'sidemenu__library',
          link: '#',
        },
        {
          textTH: 'พอร์ตการลงทุน',
          textEN: 'Portfolio',
          icon: 'attach_money',
          className: 'sidemenu__portfolio',
          link: '#',
        },
      ],
    }
  },
  computed: {
    ...mapGetters({
      drawer: 'getDrawerStatus',
    }),
  },
  methods: {
    ...mapMutations({
      switchDrawerStatus: 'switchDrawerStatus',
    }),
    checkStatus(status) {
      if (status !== this.drawer) {
        this.switchDrawerStatus()
      }
    },
  },
}
</script>
